@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

img
{
    width:100%;
}


.shadows
{
    width: 250px;
    height: 250px;
    background-color: rgba(110, 247, 229, 0.407);
    filter: blur(30px);
    border-radius: 50%;
    z-index: -1;
}

.border_right 
{
    box-shadow: 0px 20px  10px 0px rgba(135, 255, 37, 0.483);
}